.item {
  position: relative;
  font-size: .8em;
  border: 1px solid;
  padding: 6px 5px;
  border-radius: 3px;
}

.item.in-list {
  margin-bottom: 5px;
}

.item.default {
  background: #f7f7f7;
  border-color: #cdcaca;
}
.item.red {
  background: #ff9898;
  border-color: #dd7676;
}
.item.blue {
  background: #bad1ff;
  border-color: #99b3e4;
}
.item.green {
  background: #a3ffce;
  border-color: #8decb9;
}
.item.yellow {
  background: #f3ff98;
  border-color: #e0ec82;
}

.grid-item-elem {
  transition: left .1s ease-in, top .1s ease-in;
}

.grid-item-elem.active {
  box-shadow: 0 0 1px 2px rgba(0, 59, 255, 0.5);
  border-color: rgba(0, 59, 255, 0.8)
}

.item.avatar,
.grid-item-elem,
.grid-item-elem .input,
.grid-item-elem .output{
  position: absolute;
}

.item[pfx=""]::before {
  display: none;
}

.item[pfx]::before {
  content: attr(pfx);
  margin-right: 3px;
  font-weight: bold;
}

.item[item-method]::after {
  content: attr(item-method);
}

.item.grid-item-elem[item-method]::after {
  content: attr(item-method);
  padding-left: 5px;
}


.item.in-list:hover .hover-title {
  display: block;
}

.grid-item-elem .input,
.grid-item-elem .output {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  border: 2px solid;
}

.grid-item-elem .input{
  left: -7px;
  top: 11px;
  padding: 2px;
  border-color: #0093d4;
}
.grid-item-elem .input.hide {
  display: none;
}

.grid-item-elem .output{
  right: -7px;
  top: 11px;
  padding: 2px;
  border-color: #00af00;
}

.grid-item-elem .inp_bg.in{
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background: #fff;
}

.grid-item-elem .input .inp_bg.in {
  background: #0093d4;
}
.grid-item-elem .output .inp_bg.in {
  background: #00af00;
}