<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Vue-grid</title>
  <link rel="stylesheet" href="css/default.css">
  <link rel="stylesheet" href="css/items.css">
  <link rel="stylesheet" href="css/inputs.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
  <div id="app" @mousemove="mouseMove" @mousedown="mouseDown" @mouseup="mouseUp">
    <div class="app_wrapp" v-bind:style="{height: windowSize.height + 'px'}">
      <div class="left_menu">
        <div class="menu_nav">
          <input v-model="searchItemsList" title="Поиск элементов по названию, префиксу и описанию" id="items_search" type="text" class="theme" placeholder="Поиск элементов">
        </div>
        <div class="wrapper_categories" v-bind:style="{height: wrappCats.height + 'px'}">
          <div class="list_wrapp" v-for="(catg) in items">
            <div class="category-header" @click="catg.show = !catg.show">
              <div class="line_h_wrapp">
                <div class="line-header"></div>
              </div>
              <div class="arrow_down" v-bind:class="!catg.show ? 'up': ''"></div>
              <h5>{{catg.category}}</h5>
            </div>
            <div class="items_wrapp" v-show="catg.show">

              <item v-for="(item, i) in searchItemsInList(catg.blocks)" :key="i+'_'+item.name" :id="i+'_'+item.name" :data="item"></item>
              <div v-if="!searchItemsInList(catg.blocks)" class="not-found">не найдено</div>

            </div>
          </div>
        </div>
      </div>
      <div class="workspace" id="grid_wrapp" ref="scrollWrapp">
        <div class="svg_wrapp" id="grid">
          <svg id="grid-map" v-bind:style="{height: grid.height + 'px', width: grid.width+'px'}" shape-rendering="optimizeSpeed">
          </svg>
          <div class="grid-item-wrapp">

            <grid-item v-if="Items.items.length > 0" v-for="(item, i) in Items.items" :i="Items" :items="items" :key="i+'_G_'+item.name" :properties="item" :id="i+'_G_'+item.name">
            </grid-item>

          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="js/data.js"></script>
  <script src="js/components.js"></script>
  <script src="js/app.js"></script>
</body>

</html>
